h1 {
    color: #ff9999;
    font-size: 3em;
}

body {
    background-color: #ffe6e6;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 50px;
}

p {
    color: #ff6666;
    font-size: 12;
    font-family: 'Georgia', serif;
    line-height: 1.6;
    margin: 20px auto;
    width: 700px;
    background-color: #fff0f0;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.heart {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    transform: rotate(-45deg);
    margin: 25px auto;
}

.heart:before,
.heart:after {
    content : "";
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50px;
    position: absolute;
}

.heart:before {
    top: -50px;
    left: 0;
}

.heart:after {
    left: 50px;
    top: 0;
}

button {
    padding: 15px 30px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    background-color: #ff3333;
    color: #ffe6e6;
}